# SPI Slave LPF for ECP5

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "P3";
LOCATE COMP "rst_n" SITE "P5";
LOCATE COMP "spi_clk" SITE "P8";
LOCATE COMP "spi_cs_n" SITE "P10";
LOCATE COMP "spi_mosi" SITE "P12";
LOCATE COMP "spi_miso" SITE "P13";

IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33;
