// Lattice Diamond LPF constraints for uart_bridge
// Target: LFE5U-45F-8BG381C
// Oscillator: 48 MHz

LOCATE COMP "clk_48m" SITE "J4";
LOCATE COMP "reset_n" SITE "U18";

// UART pins
LOCATE COMP "uart_tx" SITE "N14";
LOCATE COMP "uart_rx" SITE "M14";

// USB interface (simulated as parallel interface for this demo)
LOCATE COMP "usb_rx_data" SITE "P13";
LOCATE COMP "usb_data_in[0]" SITE "P11";
LOCATE COMP "usb_data_in[1]" SITE "P10";
LOCATE COMP "usb_data_in[2]" SITE "P9";
LOCATE COMP "usb_data_in[3]" SITE "P8";
LOCATE COMP "usb_data_in[4]" SITE "P7";
LOCATE COMP "usb_data_in[5]" SITE "P6";
LOCATE COMP "usb_data_in[6]" SITE "P5";
LOCATE COMP "usb_data_in[7]" SITE "P4";

LOCATE COMP "usb_tx_ready" SITE "R14";
LOCATE COMP "usb_tx_valid" SITE "R13";
LOCATE COMP "usb_data_out[0]" SITE "R12";
LOCATE COMP "usb_data_out[1]" SITE "R11";
LOCATE COMP "usb_data_out[2]" SITE "R10";
LOCATE COMP "usb_data_out[3]" SITE "R9";
LOCATE COMP "usb_data_out[4]" SITE "R8";
LOCATE COMP "usb_data_out[5]" SITE "R7";
LOCATE COMP "usb_data_out[6]" SITE "R6";
LOCATE COMP "usb_data_out[7]" SITE "R5";

// Status LEDs
LOCATE COMP "status_led[0]" SITE "T20";
LOCATE COMP "status_led[1]" SITE "T19";
LOCATE COMP "status_led[2]" SITE "T18";

// I/O voltage standards
IOBUF PORT "clk_48m" IO_TYPE=LVCMOS33;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_rx_data" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_tx_ready" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_tx_valid" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[2]" IO_TYPE=LVCMOS33;

// Pull-ups for inputs
IOBUF PORT "clk_48m" PULLMODE=UP;
IOBUF PORT "reset_n" PULLMODE=UP;
IOBUF PORT "uart_rx" PULLMODE=UP;
IOBUF PORT "usb_rx_data" PULLMODE=UP;

// Drive strength for outputs
IOBUF PORT "uart_tx" DRIVE=12;
IOBUF PORT "usb_tx_ready" DRIVE=12;
IOBUF PORT "usb_tx_valid" DRIVE=12;
IOBUF PORT "usb_data_out[0]" DRIVE=12;
IOBUF PORT "usb_data_out[1]" DRIVE=12;
IOBUF PORT "usb_data_out[2]" DRIVE=12;
IOBUF PORT "usb_data_out[3]" DRIVE=12;
IOBUF PORT "usb_data_out[4]" DRIVE=12;
IOBUF PORT "usb_data_out[5]" DRIVE=12;
IOBUF PORT "usb_data_out[6]" DRIVE=12;
IOBUF PORT "usb_data_out[7]" DRIVE=12;
IOBUF PORT "status_led[0]" DRIVE=12;
IOBUF PORT "status_led[1]" DRIVE=12;
IOBUF PORT "status_led[2]" DRIVE=12;

// Frequency specifications
FREQUENCY PORT "clk_48m" 48.0 MHz;

// Clock group
DEFINE CLOCK clk_const 0.0 0.0 0.0 0.0 0.0 clk_48m 0.0;
CLOCK_GROUP "clk_48m" 48.0 MHZ;

// Timing constraints for UART operations
DEFINE CONSTRAINT UART_TX_SETUP 5.0 ns;
DEFINE CONSTRAINT UART_RX_SETUP 5.0 ns;
