// Lattice Diamond LPF constraints for uart_bridge
// Target: LFE5U-45F-8BG381C
// Oscillator: 48 MHz


// UART pins

// USB interface (simulated as parallel interface for this demo)


// Status LEDs

// I/O voltage standards
IOBUF PORT "clk_48m" IO_TYPE=LVCMOS33;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_rx_data" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_in[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_tx_ready" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_tx_valid" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_data_out[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[2]" IO_TYPE=LVCMOS33;

// Pull-ups for inputs
IOBUF PORT "clk_48m" PULLMODE=UP;
IOBUF PORT "reset_n" PULLMODE=UP;
IOBUF PORT "uart_rx" PULLMODE=UP;
IOBUF PORT "usb_rx_data" PULLMODE=UP;

// Drive strength for outputs
IOBUF PORT "uart_tx" DRIVE=12;
IOBUF PORT "usb_tx_ready" DRIVE=12;
IOBUF PORT "usb_tx_valid" DRIVE=12;
IOBUF PORT "usb_data_out[0]" DRIVE=12;
IOBUF PORT "usb_data_out[1]" DRIVE=12;
IOBUF PORT "usb_data_out[2]" DRIVE=12;
IOBUF PORT "usb_data_out[3]" DRIVE=12;
IOBUF PORT "usb_data_out[4]" DRIVE=12;
IOBUF PORT "usb_data_out[5]" DRIVE=12;
IOBUF PORT "usb_data_out[6]" DRIVE=12;
IOBUF PORT "usb_data_out[7]" DRIVE=12;
IOBUF PORT "status_led[0]" DRIVE=12;
IOBUF PORT "status_led[1]" DRIVE=12;
IOBUF PORT "status_led[2]" DRIVE=12;

// Frequency specifications
FREQUENCY PORT "clk_48m" 48.0 MHz;

// Clock group
DEFINE CLOCK clk_const 0.0 0.0 0.0 0.0 0.0 clk_48m 0.0;
CLOCK_GROUP "clk_48m" 48.0 MHZ;

// Timing constraints for UART operations
DEFINE CONSTRAINT UART_TX_SETUP 5.0 ns;
DEFINE CONSTRAINT UART_RX_SETUP 5.0 ns;
