// Lattice Diamond LPF constraints for apb_bridge
// Target: LFE5U-45F-6BG381C

LOCATE COMP "clk" SITE "P3";
LOCATE COMP "reset_n" SITE "T14";

IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.0 MHz;
